<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Students</title>
    <!--    <link href="../css/main.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>

<!--<div th:switch="${students}">-->
<div class="row">
    <div class="container mt-3">
        <!--            <h2 th:case="null">No students yet</h2>-->
        <!--            <div th:case="*">-->
        <h2>Students</h2>

        <p><a class="btn btn-outline-primary" href="/signup">Add student</a></p>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
<!--                                <tr th:each="student : ${students}">-->
            <tr th:each="student : ${page.content}">
                <td><a th:href="@{/student/{id}(id=${student.id})}" th:utext="${student.name}"></a></td>
                <td th:text="${student.phone}"></td>
                <td th:text="${student.email}"></td>
                <td><a th:href="@{/edit/{id}(id=${student.id})}">edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${student.id})}">delete</a></td>
            </tr>
        </table>
        <!--            </div>-->

        <div>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                        <a th:href="@{/students(page=${i},size=${page.size})}">[[${i}+1]]</a>
                    </span>
            </th:block>
        </div>


    </div>
<!--        </div>-->
</div>

</body>
</html>